<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
</head>
<body>
    <h2>로그인</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">사용자명:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">비밀번호:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="로그인">
    </form>

    <h2>학생 만들기</h2>
    <form action="/register_student/" method="post">
        {% csrf_token %}
        <label for="username">사용자명:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">비밀번호:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="email">이메일:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="Department">학과:</label><br>
        <input type="Department" id="Department" name="Department"><br>
        <label for="student_id">학번:</label><br>
        <input type="student_id" id="student_id" name="student_id"><br>
        <label for="year">학년:</label><br>
        <input type="year" id="year" name="year"><br>
        <input type="submit" value="만들기">
    </form>
</body>
</html>